html, body {
    background: url('/Multimedia/fondo1.jpg');
    background-color: #f8f9fa;
    color: #343a40;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
}


.form-group {
    margin-bottom: 1.5rem;
    position: relative;
}

